/* Here is your custom css styles. */
@font-face {
    font-family: 'diyFont';
    src: url('../font/hanyimaqiduojian.ttf');
}

/* * 表示全局使用，如果不想全局使用不要添加该段
* {
    font-family: 'diyFont' !important;
} */